<<<<<<< HEAD


=======
>>>>>>> 5b9db9ddd8930c65c3c18207ad447a65a1a37bb7
<p>
  <b>Description:</b>
  <%= @task.description %>
</p>

<p>
  <b>Due date:</b>
  <%= if @task.due then @task.due_date else "None" end %>
</p>

<p>
  <b>Name:</b>
  <%= @task.name %>
</p>

<%= link_to 'Edit', edit_task_path(@task.id) %>
