<ul class="admin-nav-ul">
  <li class="admin-nav-link"><%= link_to "New User", org_user_path %></li>
  <li class="admin-nav-link"><%= link_to "New Grant", new_grant_path %></li>
  <li class="admin-nav-link"><%= link_to 'All Users', users_path %></li>
  <li class="admin-nav-link"><%= link_to 'Edit', edit_org_path %></li>
</ul>