//@media (min-device-width : 320px),  (max-device-width : 480px) {
//
//}
@media (max-width: 600px){
  #container{
    width:50%;
    padding: 20%;
  }
  #main{
    float:left;
  }

}
//
///* Smartphones (lscape) ----------- */
//@media  (min-width : 321px) {
///* Styles */
//}
//
///* Smartphones (portrait) ----------- */
//@media  (max-width : 320px) {
//
//}
//
///* iPads (portrait  lscape) ----------- */
//@media  (min-device-width : 768px), (max-device-width : 1024px) {
//
//
//}
//
///* iPads (lscape) ----------- */
//@media  (min-device-width : 768px), (max-device-width : 1024px), (orientation : lscape) {
///* Styles */
//}
//
///* iPads (portrait) ----------- */
//@media  (min-device-width : 768px), (max-device-width : 1024px), (orientation : portrait) {
///* Styles */
//}
//
/* Desktops  laptops ----------- */
@media  (max-width : 1224px) {

}
//
///* Large screens ----------- */
//@media (min-width : 1824px) {
///* Styles */
//}
//
///* iPhone 4 ----------- */
//@media  (-webkit-min-device-pixel-ratio : 1.5), (min-device-pixel-ratio : 1.5) {
//
//
//}