@import "settings";
@import "modules";
@import "layout";

body{
  color: $black;
  background-color: $bg-color;
  @extend %serif;
}

header{
 @extend %header;
 @extend %sans-serif;
}

a {
  color: $purple;
  text-decoration: none;
}

a:hover {
  color: $blue;
}

select {
  background: white;
  font-size: 20px;
}

.header-nav-ul {
  @extend %fake_ul;
}

h1 {
  font-size: 25px;
  color: $red;
  text-transform: uppercase;
}

h2 {
  font-size: 20px;
}

.dash-li {
  background: $purple;
}

.dash-ul li:hover {
  background: $red;
}

.dash-li a {
  color: $blue;
}

.dash-li a:hover {
  color: black;
}