@import "settings";
@import "modules";
@import "layout";

*,
*:before,
*:after {
  box-sizing: border-box;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
body{
  color: $black;
  background-color: $bckg-color;
   @extend %serif;
  
}

header{
 @extend %header;
 @extend %sans-serif;

}

a {
  color: $purple;
  text-decoration: none;
  padding:10px;
  
  
}

nav ul li {
  display: inline-block;
  
}

#container{
  width: 100%;
  margin: 0 auto;
 
}

h1{
  font-size: 20px;
}


//for menu slide panel
.panel {
	width:300px;
	float:left;
  background:#d9dada;
	position:relative;
	left:-300px;

}
.slider-arrow {
	padding:8px;
	width:10px;
	float:left;
	background:#d9dada;
	font:400 12px Arial, Helvetica, sans-serif;
	color:#000;
	text-decoration:none;
	position:relative;
	left:-300px;
}

.admin-nav{
  float:right;
  
    li{
    display:block;
    padding:10px;
    margin-right:70px;
  }
}










